<div class='container'>
    <div class='jumbotron'>

    </div>
    
    <div class='categories'>
    
    </div>
    <div class='signup-in'>
    </div>
</div>
<div class='container'>
    <h1 class='aboutus'>About Us</h1>
</div>
<div class='container'>
    <h1 class='howto'>How to use this app</h1>
</div>
<div class='container'>
    <h1 class='purpose'>Our Purpose</h1>
</div>